<div class ="row" id="draft" data-uri="<%= request.host %>:<%= request.port %>/websocket" data-kind="<%= @draft.draftkind %>" data-user="<%= @player.email %>" data-userId ="<%= @player.id %>">
	<div class="span3">
		<div id="upcoming" class="">
			<h3>Upcoming Movies</h3>
			<ul id="availMov">
				<% @availableMovies.each do |movie| %>
					<li data-id="<%= movie.id %>"><%= movie.title %></li>
				<%end%>
			</ul>
		</div>

	</div>
	<div class="span6 text-center">
		<div id="timer" class = "">
				<h4>00:00</h4>
		</div>
		<div id="bidder" class="alert alert-success">
			Welcome to the draft client!
		</div>
		<div id="poster">
			<img src="" alt="Movie Poster"></img>
		</div>
	</div>
	<div class="span3">
		<div id="funds" class ="pull-right">
			<h2>$<%= @draft.startingFunds %></h2>
		</div>
	</div>
</div>
<div class ="row">
	<div class="span3">
		<div id="owned" class="">
			<h3>Owned Movies</h3>
			<ul>
			</ul>
		</div>
	</div>
	<div class="span6 text-center">
		<div id="bid">
			<% if @draft.draftkind != "INPERSON"%>
				<% if @draft.draftkind == "FULL" %>
					<input type="text"></input>
				<% end %>
				<a href='#' class="btn btn-large btn-success">Bid</a>
			<% end %>
		</div>
		<% if @player.id == @draft.league.commish %> 
			<div id="sell">
				<% if @draft.draftkind != "FULL" %>
					<input type="text"></input>
				<%end%>
				<a href='#' class="btn btn-large btn-danger">Sell</a>
			</div>
		<% end %>
	</div>